@import '_colors';
@import '_mixin';

body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #333333;
}

.fixed {
  width: 100%;
  height: 100%;
  position: fixed;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

P {
  font-size: 16px;
}

/*  header */
.header {
  &__bar{
    background-color: #fff;
    padding: 24px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: 10;
    .header_logo {
      margin-left: 15px;
      .pc {
        display: none;
      }
    }
    .header_menu {
      #g-nav{
        /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
        position:fixed;
        z-index: 999;
        /*ナビのスタート位置と形状*/
        top: 80px;
        right: -120%;
        width:100%;
        height: 100vh;/*ナビの高さ*/
        background:#fff;
          /*動き*/
        transition: all 0.6s;
      }

      /*アクティブクラスがついたら位置を0に*/
      #g-nav.panelactive{
          right: 0;
      }

      /*ナビゲーションの縦スクロール*/
      #g-nav.panelactive #g-nav-list{
          /*ナビの数が増えた場合縦スクロール*/
          position: fixed;
          z-index: 999; 
          width: 100%;
          height: 100vh;/*表示する高さ*/
          overflow: auto;
          -webkit-overflow-scrolling: touch;
      }

      /*ナビゲーション*/
      #g-nav ul {
          /*ナビゲーション天地中央揃え*/
          position: absolute;
          z-index: 999;
          top: -1px;
          left:50%;
          transform: translate(-50%, 0%);
          width: 100%;
      }

      /*リストのレイアウト設定*/
      #g-nav li{
        list-style: none;
        text-align: center;
        padding: 40px 0 10px;
        border-top: 1px solid $cBorder;
        line-height: 16px;
        font-size: 13px;
        span {
          line-height: 35px;
          font-size: 16px;
        }
      }
      #g-nav li:last-of-type {
        border-bottom: 1px solid $cBorder;
      }

      #g-nav li a{
        color: #192F60;
        display: block;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: 500;
      }

      .nav_contact {
        position: absolute;
        top: 550px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        &__phone {
          text-align: center;
          margin-bottom: 30px;
          p {
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 0.1rem;
            vertical-align: middle;
            .fas {
              margin-right: 6px;
              font-size: 16px;
              vertical-align: inherit;
            }
            span {
              font-size: 16px;
              line-height: 35px;
              letter-spacing: 0;
              margin-left: 10px;
            }
          }
        }
        &__btn {
            text-align: center;
          a{
            display: inline-block;
            background-color: #20868A;
            width: 240px;
            font-size: 20px;
            padding: 18px 0;
            color: #fff;
            font-weight: 500;
            span {
              display: inline-block;
              width: 0;
              height: 0;
              border-left: 5px solid #fff;
              border-top: 5px solid transparent;
              border-bottom: 5px solid transparent;
              margin-left: 15px;
              margin-bottom: 1px;
            }
          }
        }
      }
      .pc_nav {
        display: none;
      }

      /*========= ボタンのためのCSS ===============*/
      .openbtn{
        position: absolute;
        z-index: 9999;/*ボタンを最前面に*/
        top:15px;
        right: 25px;
        cursor: pointer;
          width: 26px;
          height:16px;
      }
      /*×に変化*/	
      .openbtn span{
          display: inline-block;
          transition: all .4s;
          position: absolute;
          left: 14px;
          height: 2px;
          border-radius: 2px;
          background-color: #000;
          width: 26px;
        }

      .openbtn span:nth-of-type(1) {
        top:15px;	
      }

      .openbtn span:nth-of-type(2) {
        top:23px;
      }

      .openbtn span:nth-of-type(3) {
        top:31px;
      }

      .openbtn.active span:nth-of-type(1) {
          top: 18px;
          right: 25px;
          transform: translateY(6px) rotate(-35deg);
          width: 26px;
      }

      .openbtn.active span:nth-of-type(2) {
        opacity: 0;
      }

      .openbtn.active span:nth-of-type(3){
          top: 30px;
          right: 25px;
          transform: translateY(-6px) rotate(35deg);
          width: 26px;
      }
    }
  }

  &__view {
    position: relative;
    &_images {
      position: relative;
      overflow: hidden;
      height: 100vh;
      .first_sp {
        position: absolute;
        top:0;
        left: -600px;
        z-index: 1;

      }
      .second_sp {
        position: absolute;
        top: 0;
        left: -540px;
        z-index: -1;
      }
      .pc {
        display: none;
      }
    }
    &_title {
      position: absolute;
      top: 290px;
      left: 4%;
      z-index: 2;
      color: $cNavy;
      h1 {
        letter-spacing: 0.1rem;
        background-color: #fff;
        padding: 13px 0 13px 10px;
        font-size: 22px;
        margin-bottom: 10px;
        font-weight: 700;
      }
      h1:first-child{
        letter-spacing: 0.4rem;
      }
      h2 {
        display: inline-block;
        font-size: 14px;
        background-color: #fff;
        line-height: 18px;
        font-weight: 700;
        padding: 11px 15px;
        margin-top: 10px;
        letter-spacing: 0.1rem;
      }
    }
    &__contact {
      position: absolute;
      top: 545px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      z-index: 2;
      &_phone {
        text-align: center;
        margin-bottom: 40px;
        p {
          display: inline-block;
          font-size: 24px;
          letter-spacing: 0.1rem;
          vertical-align: middle;
          background-color: $cNavy ;
          color: #fff;
          padding: 4px 24px;
          .fas {
            margin-right: 6px;
            font-size: 16px;
            vertical-align: inherit;
          }
          span {
            font-size: 16px;
            letter-spacing: 0;
            margin-left: 10px;
          }
        }
      }
      &_btn {
          text-align: center;
        a{
          display: inline-block;
          background-color: #20868A;
          width: 240px;
          font-size: 20px;
          padding: 18px 0;
          color: #fff;
          font-weight: 500;
          span {
            display: inline-block;
            width: 0;
            height: 0;
            border-left: 5px solid #fff;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            margin-left: 15px;
            margin-bottom: 1px;
          }
        }
      }
    }
    &__article {
      position: absolute;
      margin: 0 4%;
      bottom: -50px;
      background-color: #fff;
      display: flex;
      padding: 20px;
      z-index: 2;
      .article_title {
        color: $cNavy;
        font-size: 22px;
        line-height: 28px;
        border-right: 2px solid $cNavy;
        padding-right: 15px;
      }
      .text_area {
        padding-left: 15px;
        p {
          line-height: 27.2px;
        }
        a {
          display: inline-block;
          text-decoration: underline;
          width: 228px;
          font-size: 16px;
          line-height: 27.2px;
          font-weight: 500;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    .scrolldown {
      display: none;
    }
  }
}

/* CONCEPT */
.concept {
  position: relative;
  padding-top: 120px;
  &__title {
    position: absolute;
    top: 120px;
    z-index: -1;
    width: 180px;
    height: 75vh;
    background-color: #fff;
    background-image:
    radial-gradient($cNavy 10%, transparent 10%);
    background-size: 10px 10px;
    padding-top: 50px;

    h1 {
      font-size: 100px;
      transform: rotate(90deg);
      color: #EFF1F4;
      width: 80px;
      letter-spacing: 0.8rem;
      font-family: 'Archivo', sans-serif;
    }
  }
  &__content{
    margin-bottom: 80px;
    .image_area {
      text-align: center;
      margin-top: 130px;
      margin-bottom: 20px;
      .pc {
        display: none;
      }
    }
    .content_title {
      width: 338px;
      margin: 0 auto 10px;

      h2 {
        display: inline-block;
        color: #fff;
        font-size: 20px;
        line-height: 28px;
        font-weight: 700;
        background-color: $cNavy;
        padding: 13px 7.5px;
        margin-bottom: 10px;
        letter-spacing: 0.2rem;
        text-align: center;
      }
    }
    .content_price {
      text-align: center;
      color: $cNavy;
      margin-bottom: 10px;
      p{
        line-height: 74px;
        vertical-align: bottom;
        font-size: 36px;
        letter-spacing: 0.1rem;
        span {
          font-size: 16px;
        }
      }
    }
    .content_text {
      color: #333333;
      padding: 0 15px;
      margin-bottom: 40px;
      p {
        font-size: 14px;
        line-height: 26px;
      }
    }
    .content_btn {
      @include content_btn;
    }
  }
  .feature {
    &__title {
      background-color: $cBgSer;
      padding: 40px 20px;
      text-align: center;
      h3 {
        font-size: 18px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0.2rem;
        color: $cNavy;
        margin-bottom: 15px;
      }
      h2 {
        display: inline-block;
        padding: 10px 15px;
        margin-bottom: 30px;
        background-color: $cNavy;
        color: #fff;
        letter-spacing: 0.2rem;
        font-size: 20px;
        line-height: 28px;
      }
      p {
        font-size: 14px;
        line-height: 26px;
        text-align: left;
      }
    }
    &__content {
      padding: 50px 20px 30px;
      .content_card {
        position: relative;
        padding: 20px 0 50px;
        margin-bottom: 80px;
        .bg_num {
          position: absolute;
          top: 60px;
          p {
            font-family: 'Overpass', sans-serif;
            font-size: 100px;
            font-weight: bold;
            line-height: 26px;
            color: #EFF1F4;
            letter-spacing: 0.3rem;
          }
        }
        .text_area {
          position: absolute;
          .title {
            text-align: center;
            font-size: 20px;
            font-weight: 700;
            line-height: 26px;
            color: $cNavy;
            margin-bottom: 20px;
            letter-spacing: 0.2rem;
          }
          .description{
            p {
              font-size: 14px;
              line-height: 26px;
              text-align: left;
            }
          }
        }
      }
    }
    &__footer {
      background-color: $cBgSer;
      height: 120px;
    }
  }
}

/* SERVICE */
.service {
  position: relative;
  &__title {
    position: absolute;
    top: 100px;
    right: 0;
    z-index: -1;
    width: 160px;
    height: 614px;
    background-color: #fff;
    background-image:
    radial-gradient($cNavy 10%, transparent 10%);
    background-size: 10px 10px;
    padding-top: 40px;
    overflow: hidden;
    h1 {
      font-size: 100px;
      transform: rotate(90deg);
      color: #EFF1F4;
      letter-spacing: 0.8rem;
      font-family: 'Archivo', sans-serif;
      padding-bottom: 95px;
    }
  }
  &__index {
    text-align: center;
    padding: 100px 0 0;
    margin:0 20px 30px;
    h2 {
      display: inline-block;
      padding: 10px 12px;
      margin: 0 8px 30px;
      background-color: $cNavy;
      color: #fff;
      letter-spacing: 0.2rem;
      font-size: 20px;
      line-height: 28px;
    }
    p {
      font-size: 14px;
      line-height: 26px;
    }
  }
  &__content {
    text-align: center;
    .service_card {
      margin: 0 30px 70px;
      background-color: #fff;
      .image_area {
        position: relative;
        color: $cNavy;
        margin-bottom: 30px;
        h3 {
          position: absolute;
          top: 142px;
          left: 5%;
          display: inline-block;
          padding: 10px 30px;
          text-align: center;
          background-color: #fff;
          font-size: 18px;
          line-height: 20px;
          letter-spacing: 0.1rem;
        }
        p {
          position: absolute;
          top: 185px;
          left: 11%;
          font-size: 11px;
          line-height: 20px;
        }
      }
      .text_area {
        padding: 0 20px;
        text-align: left;
        font-size: 14px;
        line-height: 26px;
        margin-bottom: 40px;
      }
      .content_btn {
        @include content_btn;
      }
    }
    .service_card:last-of-type {
      margin-bottom: 0;
    }
  }
}

/* WORKS */
.works {
  position: relative;
  &__title {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 180px;
    height: 60vh;
    background-color: #fff;
    background-image:
    radial-gradient($cNavy 10%, transparent 10%);
    background-size: 10px 10px;
    padding-top: 50px;

    h1 {
      font-size: 100px;
      transform: rotate(90deg);
      color: #EFF1F4;
      width: 80px;
      letter-spacing: 0.8rem;
      font-family: 'Archivo', sans-serif;
    }
  }
  &__index {
    text-align: center;
    padding: 100px 0 0;
    margin:0 20px 15px;
    h2 {
      display: inline-block;
      padding: 10px 12px;
      margin: 0 8px 30px;
      background-color: $cNavy;
      color: #fff;
      letter-spacing: 0.2rem;
      font-size: 20px;
      line-height: 28px;
    }
    p {
      font-size: 14px;
      line-height: 26px;
    }
  }
  &__slider {
    margin-bottom: 20px;
    .slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
      width: 100vw;
      margin:0 auto;
      li {
        text-align: center;
        p {
          display: inline-block;
          background-color: #fff;
          font-size: 18px;
          line-height: 20px;
          color: $cNavy;
          padding: 5px 10px;
          font-weight: 700;
          letter-spacing: 0.2rem;
          margin-top: -10px;
        }
      }

    }

    .slider img {
      width:100%;/*スライダー内の画像を横幅100%に*/
      height:auto;
    }

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

    .slider .slick-slide {
      margin:0 10px;
    }


  }
  &__text {
    margin: 0 20px 40px;
    p {
      font-size: 14px;
      line-height: 26px;
    }
  }
  .content_btn {
    @include content_btn;
    margin-bottom: 60px;
  }

  .search_btn {
    @include content_btn;
    margin-bottom: 80px;
    color: #fff;
    a {
      background-color: #AEB6C7;
      border: 1px solid #fff;
    }
    a::after {
      content: none;
    }
  }
}

/* BLOG */
.blog {
  background-image: url('../images/sp/bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  &__title {
    position: absolute;
    right: 0;
    z-index: 1;
    width: 160px;
    height: 410px;
    background-image:
    radial-gradient($cNavy 10%, transparent 10%);
    background-size: 10px 10px;
    padding-top: 40px;
    overflow: hidden;
    h1 {
      font-size: 100px;
      transform: rotate(90deg);
      color: #EFF1F4;
      letter-spacing: 0.8rem;
      font-family: 'Archivo', sans-serif;
      padding-bottom: 95px;
    }
  }
  &__list {
    background-color: #fff;
    margin: 80px 20px;
    padding: 35px 25px;
    position: absolute;
    z-index: 2;
    .blog_card{
      font-size: 16px;
      line-height: 27px;
      border-bottom: 1px solid $cBorder;
      padding-bottom: 25px;
      margin-bottom: 30px;
      a{
        text-decoration: underline;
      }
    }
    .blog_card:last-of-type {
      margin-bottom: 0;
    }
  }
}

/* CONTACT */
.contact {
  background-image: url('../images/sp/contact.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 252px;
  padding: 80px 40px;
  &__text {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;

    p{
      font-size: 18px;
      line-height: 36px;
      font-weight: 700;
      letter-spacing: 0.1rem;
    }
  }
  &__content {
    .phone {
      text-align: center;
      margin-bottom: 40px;
      p {
        display: inline-block;
        font-size: 24px;
        letter-spacing: 0.1rem;
        vertical-align: middle;
        background-color: $cNavy ;
        color: #fff;
        padding: 4px 24px;
        .fas {
          margin-right: 6px;
          font-size: 16px;
          vertical-align: inherit;
        }
        span {
          font-size: 16px;
          letter-spacing: 0;
          margin-left: 10px;
        }
      }
    }
    .btn {
        text-align: center;
      a{
        display: inline-block;
        background-color: #20868A;
        width: 240px;
        font-size: 20px;
        padding: 18px 0;
        color: #fff;
        font-weight: 500;
        span {
          display: inline-block;
          width: 0;
          height: 0;
          border-left: 5px solid #fff;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          margin-left: 15px;
          margin-bottom: 1px;
        }
      }
    }
  }
}

/* FOOTER */
.footer {
  background-color: $cNavy;
  padding: 40px 30px;
  text-align: center;
  &__logo{
    margin-bottom: 20px;
  }
  &__text {
    margin-bottom: 30px;
    p {
      color: #fff;
      font-size: 14px;
      line-height: 19px;
      font-weight: 300;
    }
  }
  small {
    color: #AEB6C7;
    font-size: 11px;
    line-height: 19px;
    font-weight: 300;
  }
}

@media (min-width: 768px){
  @import '_responsive';
}